{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ parent() }}
    <link href="{{ asset('css/bootstrap.css') }}" type="text/css" rel="stylesheet" />

{% endblock %}

{%  block body %}
	{% block navigationBar %}

		<div class="navbar navbar-inverse">

			<!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
			  <span class="icon-bar"> </span>
			  <span class="icon-bar"> </span>
			  <span class="icon-bar"> </span>
			</button>

		  <a class="navbar-brand" href="{{path('_homepage')}}">  <img src="{{ asset('images/logo.png') }}" height="20" width="40"> </a>

		  <div class="navbar-responsive-collapse">
			  <ul class="nav navbar-nav">
			    <li><a href="{{ path('_operadores')  }}">Operadores</a></li>
			    <li><a href="{{ path('_socios')}}">Socios</a></li>
			    <li><a href="{{ path('_economicos')}}">Economicos</a></li>
			    <li><a href="{{ path('_clientes')}}">Clientes</a></li>
			    <li><a href="{{ path('_cuotas')}}">Cuotas</a></li>
			    <li><a href="{{ path('_fletes')}}">Fletes</a></li>
			  </ul>

			  <ul class="nav navbar-nav pull-right">
                <li><button type="button" class="btn btn-default navbar-btn">Log out</button></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Preferencias <b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Operadores</a></li>
                    <li><a href="#">Economicos</a></li>
                    <li><a href="#">Socios</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                  </ul>
                </li>
              </ul>
		</div>
		</div>

	{% endblock %}

	{% block header %}
	{% endblock %}

	{% block content %}
	{% endblock %}

	{% block footer %}

	{% endblock %}

{% endblock %}

{% block javascripts %}
	<script type="text/javascript" src="{{ asset('js/jquery-2.0.3.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/bootstrap.js') }}"></script>
{% endblock %}