{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
	Operadores
{% endblock %}

{% block cabecera %}
Operadores
{% endblock %}

{% block content %}
	<div class="col-lg-4">
		<ul class="nav nav-tabs nav-pills nav-stacked" style="max-width: 300px;" id="myTab">
		  <li class="{{libre}}"><a href="#operadores_libres" data-toggle="tab">Operadores Libres <span class="badge">{{operadores_libres|length}}</span></a></li>
		  <li class="{{ocupado}}"><a href="#operadores_ocupados" data-toggle="tab">Operadores Ocupados <span class="badge">{{operadores_ocupados|length}}</span></a></li>
		</ul>
	</div>

	<div class="tab-content">
		<div class="tab-pane col-lg-8 {{libre}}" id="operadores_libres">
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-responsive-collapse">
					{{ knp_pagination_render(operadores_libres) }}
				</div>

				<form class="navbar-form pull-right" action="{{path('_operadores')}}">
					<input type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="busquedaLibre">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</nav>

			<ul class="list-inline">
			{% for operador in operadores_libres %}
			
				<li class="col-lg-3">
					<div class="col-lg-8">
						<img width="100" height="100" src="{{ asset('images/' ~ operador.imagen ) }}">
						<h5><span class="label label-info">{{operador.nombre}}</span></h5>
					</div>
				</li>
			

			{% else %}
				<h1>No existen Operadores Libres</h1>
			{% endfor %}
			</ul>

		</div>

		<div class="tab-pane col-lg-8 {{ocupado}}" id="operadores_ocupados">

			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-responsive-collapse">
					{{ knp_pagination_render(operadores_ocupados) }}
				</div>

				<form class="navbar-form pull-right" action="{{path('_operadores')}}">
					<input  type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="busquedaOcupado">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</nav>

			<ul class="list-inline">
			{% for operador in operadores_ocupados %}
			
				<li class="col-lg-3">
					<div class="col-lg-8">
						<img width="100" height="100" src="{{ asset('images/' ~ operador.imagen ) }}">
						<h5><span class="label label-warning">{{operador.nombre}}</span></h5>
					</div>
				</li>
			{% else %}
				<h1>No existen Operadores Ocupados</h1>
			{% endfor %}
			</ul>
		</div>
	</div>

		
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		$('#myTab').click(function(event) {
			$('#myTab a').tab('show');
		});

	</script>

{% endblock %}