{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1>Crear Flete</h1>
</div>

 {% endblock %}

 {% block content %}

 <form method="post" action="{{path('create_new_flete')}}" id="form_flete">

 	<ul class="nav nav-tabs nav-justified" id="tabla">
 	  <li class="active"><a href="#eco" data-toggle="tab">Viaje<span class="badge"></span></a>  </li>
 	  <li><a href="#soc" data-toggle="tab">WorkOrder </a></li>
 	</ul>

 	<div class="tab-content">
 		<div class="tab-pane col-lg-12 active" id="eco">
 			<div class="col-lg-8 active">
	 			<br><br>
	 			<div class="form-group">
	 			 	<label class="col-lg-2 control-label" for="economico">Economico</label>
	 			 	<div class="col-lg-8">
	 			 	<div class="input-group">
			 		 <input id="economico" type="text" class="form-control" name="economico">
			 		 <br>
	 				    <span class="input-group-btn">
	 				        <button id="search_economico" class="btn btn-default" type="button">Buscar</button>
	 				    </span>
	 				</div>
	 				
	 				<div id="mesageEconomico" class="alert" ></div>
	 			 </div>
	 			</div>
	 			<br>
	 			<br>
	 			<br><br><br>

	 			<div class="form-group">
	 			 	<label class="col-lg-2 control-label" for="operador">Operador</label>
	 			 	<div class="col-lg-8">
	 			 	<div class="input-group">
			 			<input disabled id="operador" type="text" class="form-control" name="operador">
		 				   <!-- <span class="input-group-btn">
		 				        <button class="btn btn-default" type="button">Go!</button>
		 				    </span> -->
	 				</div>
	 				<div id="mesageOperador" class="alert" ></div>
	 			 </div>
	 			</div>
 			</div>
 			<br><br>
 			<div class="col-lg-4 well" id="detalle_viaje">
 				<select class="form-control" id="operador_economico" required>
 				</select>
 			</div>

 			<br><br>

 			<div class="col-lg-8 active">
 				<BR><BR>
		 		<div class="form-group">
	 			 	<label class="col-lg-2 control-label" for="agencia">Agencia</label>
	 			 	<div class="col-lg-8">
	 			 	<div class="input-group">
			 			<select class="form-control" name="agencia" id="agencia" required>
			 				{% for agencia in agencias %}
			 					<option value="{{agencia.id}}"> {{agencia}} </option>
			 				{% endfor %}
			 			</select>
		 				  <!--  <span class="input-group-btn">
		 				        <button class="btn btn-default" type="button">Go!</button>
		 				    </span> -->
	 			 		</div>	 
			 		</div>
			 	</div>
			 	<br><br>
	 			<div class="form-group">
	 			 	<label class="col-lg-2 control-label" for="cliente">Cliente</label>
	 			 	<div class="col-lg-8">
	 			 	<div class="input-group">
			 			<input id="cliente" type="text" class="form-control" name="cliente">
		 				    <span class="input-group-btn">
		 				        <button id="search_sucursal" class="btn btn-default" type="button">Buscar</button>
		 				    </span>
	 				</div>		 
	 			 </div>
	 			</div>

				<br><br>
	 			<div class="form-group">
	 			 	<label class="col-lg-2 control-label" for="sucursal">Sucursal</label>
	 			 	<div class="col-lg-8">
	 			 	<div class="input-group">
			 			<input disabled id="sucursal" type="text" class="form-control" name="sucursal">
		 				  <!--  <span class="input-group-btn">
		 				        <button class="btn btn-default" type="button">Go!</button>
		 				    </span> -->
	 				</div>		 
	 			 </div>
	 			</div>
 			</div>

 			<br><br><br><br><br><br>
 			<div class="col-lg-4 well">

		 		<div id="detalle_cliente">
		 			<select class="form-control" name='detalle_cliente' required>
		 			</select>
		 		</div>
		 		<br><br><br><br>
 			</div>
 		</div>

 		<div class="tab-pane col-lg-12" id="soc">
 			<!--
 			  <div class="radio-inline">
	 			    <label>
	 			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="Sencillo" checked />Sencillo
	 			    </label>
	 			    <br>
	 			    <label>
	 			      <input type="radio" name="optionsRadios" id="optionsRadios2" value="Full" />Full
	 			    </label>
 			  </div>
			-->
			<br><br>
 			<div class="col-lg-12">
 				<div class="titulo col-lg-8">
 					<br><br>
 					<h3>Contenedores</h3>
 					<br><br>
 				</div>

				<div class="panel panel-default pull-left col-lg-4">
				  <div class="panel-body">
					<div class="btn-group" data-toggle="buttons">
		 			    <label class="btn btn-info">
		 			      <input  type="radio" value="importacion" name="viaje" id="importacion"> Importacion
		 			    </label>
		 			    <label class="btn btn-info">
		 			      <input type="radio" value="exportacion" name="viaje" id="exportacion"> Exportacion
		 			    </label>
		 			  </div>

		 			  <div class="btn-group" data-toggle="buttons">
		 			    <label class="btn btn-primary">
		 			      <input  type="radio" value="sencillo" name="trafico" id="sencillo" class="viaje"> Sencillo
		 			    </label>
		 			    <label class="btn btn-primary">
		 			      <input type="radio"  value="full" name="trafico" id="full" class="viaje"> Full
		 			    </label>
		 			  </div>
	 			  </div>
	 			  <div class="checkbox">
	 			  	<label><input type="checkbox" name="contenedores_boolean" id="boleano" value="true">Dejar Pendiente el registro de contenedores</label>
	 			  </div>
	  			</div>
 			  	
 			  	<div class="panel panel-default">
 			  	  <div class="panel-body" ng-App>

 			  	  	<div id="contenedor1">
 			  	  	<div class="col-lg-8">
 			  	  		
	 			  	 <div class="form-group">
	 			  		  <label class="col-lg-2 control-label" for="workorder1">WorkOrder</label>
	 			  		  <div class="col-lg-10">
	 			  		    <input id="workorder1" type="text" class="form-control col-lg-4" name="workorder1">
	 			  		  </div> 			  	 </div>
	 			  	  <br><br>
	 			  	   <div class="form-group">
	 			  	  	  <label class="col-lg-2 control-label" for="booking1">Booking</label>
	 			  	  	  <div class="col-lg-10">
	 			  	  	    <input id="booking1" type="text" class="form-control col-lg-4" name="booking1">
	 			  	  	  </div>	  	  
			  	  	  </div>
	 			  	 <br><br>
	 			  	  <div class="form-group">
	 			  	 	  <label class="col-lg-2 control-label" for="contenedor1">Contenedor</label>
	 			  	 	  <div class="col-lg-10">
	 			  	 	    <input id="contenedor1" type="text" class="form-control col-lg-4" name="contenedor1">
	 			  	 	  </div>	  	  
	 			  	  </div>
	 			  	  <br><br>
	 			  	   <div class="form-group">
	 			  	  	  <label class="col-lg-2 control-label" for="contenedor1">Size</label>
	 			  	  	  <div class="col-lg-10">
	 			  	  	    <select name="contenedor_tipo1" class="form-control">
	 			  	  	    	<option>40HC</option>
	 			  	  	    	<option>40DC</option>
	 			  	  	    	<option>20HC</option>
	 			  	  	    	<option>20DC</option>
	 			  	  	    </select>
	 			  	  	  </div>	  	  
	 			  	   </div>

					</div>
 			  	  	  <div id="sellos1" class="col-lg-4" ng>
 			  	  	  		<ul class="list-group">
 			  	  	  		  <li class="list-group-item">
 			  	  	  		  	<input type="text" class="form-control">
 			  	  	  		  </li>
 			  	  	  		</ul>
 			  	  	  		<button type="button" class="btn btn-success">Agregar Sello</button> 
 			  	  	  </div>
 			  	  	</div>

 			  	  <br><br><br>
 			  	  <div id="contenedor2">
 			  	  <div  class="col-lg-8">
 			  	  	<br><br>
	 			  	   <div class="form-group">
	 			  	  	  <label class="col-lg-2 control-label" for="workorder2">WorkOrder</label>
	 			  	  	  <div class="col-lg-10">
	 			  	  	    <input id="workorder2" type="text" class="form-control col-lg-4" name="workorder2">
	 			  	  	  </div>	  	  
	 			  	   </div>

	 			  	   <br><br>
	 			  	    <div class="form-group">
	 			  	   	  <label class="col-lg-2 control-label" for="booking2">Booking</label>
	 			  	   	  <div class="col-lg-10">
	 			  	   	    <input id="booking2" type="text" class="form-control col-lg-4" name="booking2">
	 			  	   	  </div>	  	  
	 			  	    </div>

	 			  	   <br><br>
	 			  	    <div class="form-group">
	 			  	   	  <label class="col-lg-2 control-label" for="contenedor2">Contenedor</label>
	 			  	   	  <div class="col-lg-10">
	 			  	   	    <input id="contenedor2" type="text" class="form-control col-lg-4" name="contenedor2">
	 			  	   	  </div>	  	  
	 			  	    </div>
	 			  	    <br><br>
	 			  	     <div class="form-group">
	 			  	    	  <label class="col-lg-2 control-label" for="contenedor1">Size</label>
	 			  	    	  <div class="col-lg-10">
	 			  	    	    <select name="contenedor_tipo2" class="form-control">
	 			  	    	    	<option>40HC</option>
	 			  	    	    	<option>40DC</option>
	 			  	    	    	<option>20HC</option>
	 			  	    	    	<option>20DC</option>
	 			  	    	    </select>
	 			  	    	  </div>	  	  
	 			  	     </div>
 			  	    </div>

 			  	    <div id="sellos2" class="col-lg-4">
 			  	    	<br><br>
 			  	    	<ul class="list-group" id="lista_sellos2">
 			  	    	  <li class="list-group-item">
 			  	    	  	<input type="text" class="form-control">
 			  	    	  </li>
 			  	    	</ul>
 			  	    	<button type="button" class="btn btn-success">Agregar Sello</button>
 			  	    </div>
 			  	</div>
 			  </div>
 			  </div>
 		</div>
 	</div>
 	<div>
 		<table class="table table-bordered">
 			<tr >
 				<th>Socio</th>
 				<th>Destino</th>
 				<th>Agencia</th>
 			</tr>
 			<tr>
 				<td id="socio"></td>
 				<td id="destino"> </td>
 				<td id="naviera">Maersk</td>
 		</table>
 		<br>

 	 	<button id="enviar" class="btn btn-success col-md-6 col-md-offset-3">Enviar</button>
 	 </div>
  </form>


 {% endblock %}

 {% block javascripts %}
 	{{ parent() }}
 	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script>
 	<script type="text/javascript" src="{{ asset("js/createflete_controller.js") }}"></script>

 	<script type="text/javascript">
 		$(function(){

 			$('#agencia').change(function(event) {
 				$('#naviera').empty().append( $('#agencia').val() );
 			});

 			$('#contenedor1').hide();
 			$('#contenedor2').hide();

 			$('.viaje').change(function(event) {
 				var val = $(this).val();

 				if(! $('#boleano').is(":checked") ){

 					if(val === "sencillo"){
 						$('#contenedor1').show('fade');
 						$('#contenedor2').hide('fade');
 					}
 					else{
 						$('#contenedor1').show('fade');
 						$('#contenedor2').show('fade');
 					}
 				}

 			});

	 		$('#boleano').change(function(event) {
	 			event.preventDefault();
	 			/* Act on the event */
	 			if ($(this).is(":checked")) {
		 			$('#contenedor1').hide();
		 			$('#contenedor2').hide();
	 			}
	 			else{
	 				if($('#sencillo').is(":checked")){
		 				$('#contenedor1').show();

		 				//if($('#full').parent().hasClass('active') ){
		 			}
		 			if($('#full').is(":checked") ){
		 				$('#contenedor1').show();
		 				$('#contenedor2').show();
		 			}
	 			}
	 		});

 		$('#search_economico').click(function(event) {
 			var parametros = {"tipo" : "economico", "value" : $('#economico').val() };

 			var detalle_viaje = $('#detalle_viaje');

 			detalle_viaje.empty().append('<img src="{{asset("images/loading.gif")}}">')

			var funcion =function(response){
  
		 					  detalle_viaje.empty()
			 			  				   .append("<select class='form-control' name='detalle_viaje' id='operador_economico' required>" + response.economicos + "</select>"
			 			  				   	);

			 			  	 $('#operador_economico').change();  	  
			 	}

			createAjax(parametros,funcion);
			});

	 		$('#search_sucursal').click(function(event) {
	 			var parametros = {"tipo" : "cliente", "value" : $('#cliente').val() };

	 			var detalle_cliente = $('#detalle_cliente')

	 			detalle_cliente.empty().append('<img src="{{asset("images/loading.gif")}}">')

				var funcion =function(response){
	  
		 				detalle_cliente.empty()
			 			  				   .append("<select class='form-control' name='detalle_cliente' id='cliente_sucursal' required>" + response.sucursales + "</select>"
			 			  				   	);

			 			$('#cliente_sucursal').change();
				 	}

				createAjax(parametros,funcion);

				});

	 		$('body').on('change', '#operador_economico', function(){
	 			parametros = { 
	 								"tipo" : "relacion",
	 			  					"value" : $('#operador_economico').val() 
	 			  			 };

	 			createAjax(parametros, function(response){
	 				$('#economico').val(response.economico);
	 				$('#mesageEconomico').text(response.statusEconomico);

	 				if(response.statusEconomico === "Libre"){
	 					$('#mesageEconomico').removeClass('alert-danger').addClass('alert-success')
	 				}
	 				else{
	 					$('#mesageEconomico').removeClass('alert-success').addClass('alert-danger')
	 				}


	 				$('#operador').val(response.operador);
	 				$('#mesageOperador').text(response.statusOperador);

	 				if(response.statusOperador === "Libre"){
	 					$('#mesageOperador').removeClass('alert-danger').addClass('alert-success')
	 				}
	 				else{
	 					$('#mesageOperador').removeClass('alert-success').addClass('alert-danger')
	 				}


	 				$('#socio').empty().append(response.socio);
	 			});
	 		});

	 		$('body').on('change', '#cliente_sucursal', function(){
	 			parametros = { 
	 								"tipo" : "destino",
	 			  					"value" : $(this).val()
	 			  			 };
	 			
	 			createAjax(parametros, function(response){
	 				$('#cliente').val(response.cliente);
	 				$('#sucursal').val(response.sucursal);
	 				$('#destino').empty().append(response.direccion);

	 			});
	 		});

 		 	function createAjax(parametros, funcion){
 					 			$.ajax({
 					 				  cache:    false,
 						 			  type: 	"POST",
 						 			  dataType: "json",
 						 			  url: 		"{{path('_filtro')}}",
 						 			  data: 	parametros,
 						 			  success: function(response){
 						 			  			funcion(response);
 						 			  		},
 							 		  error: function() {
 							 		 	alert("error");
 							 		 }
 							 	});
 		 	}


 	});

 	</script>

 {% endblock %}
 
 