{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1 class="text-center">Listado de Fletes <a href="{{path('create_flete')}}"><br>
    <button class="btn btn-primary btn-sm">Nuevo Flete</button></a>
</h1>
  
</div>
 {% endblock %}
 {% block stylesheets %}

     {{ parent() }}
     <link href="{{ asset('css/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />

 {% endblock %}

{% block content %}
<!--
	<nav class="navbar navbar-default" role="navigation">

       <div class="navbar-form navbar-left" action="">
            <a href="flete/crear"><button type="submit" class="btn btn-default">Crear Flete</button></a>
        </div>
	</nav>
-->
<!--
    <div class="panel">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                       Filtros
                    </a>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                 <div class="panel-body">
            
            <form class="form-inline" action="{{path('_operadores')}}">
                    <div id="reportrange" class="navbar navbar-right">
                        <span></span> <b class="caret"></b>
                    </div>
                     <div class="form-group">
                        <label for="searchOperador">Operador</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchOperador" style="width: 200px;" name="operador">
                    </div>
                      <div class="form-group">                
                        <label for="searchEconomico">Economico</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchEconomico" style="width: 200px;" name="economico">
                    </div>
                     <div class="form-group">                    
                        <label for="searchSocio">Socio</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchSocio" style="width: 200px;" name="operador">
                    </div>
                    <br>
                    <br>
                     <div class="form-group">                    
                        <label>Viaje</label>
                        <input  type="checkbox" ckecked> Sencillo
                        <input type="checkbox" ckecked> Full 
                        <input type="checkbox" ckecked> Importacion 
                        <input type="checkbox" ckecked> Exportacion 
                        <input type="checkbox" ckecked> Reutilizado
                    </div>
                    <br>
                    <br>
                    <div class="form-group"> 
                        <label>WorkOrder</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="operador">
                     </div>                   
                     <div class="form-group">                    
                        <label>Booking</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="operador">
                    </div>
                    <br><br>
                <button type="submit" class="btn btn-info">Buscar</button>
            </form>
        
           </div>
        </div>
    </div>
     -->
        <div>
        	{% if fletes %}
        	{#<div class="table-responsive">#}
        	<table class="table table-bordered table-condensed">
        		<tr>
        			<th>#</th>
        			<th>Eco</th>
                    <th>Operador</th>
        			<th>Licencia</th>
        			<th>Socio</th>
        			<th scope="rowgroup">Booking</th>
        			<th>WorkOrder</th>
        			<th>Trafico</th>
        			<th>Cliente</th>
        			<th>Contenedor(s)</th>
        			<th>Size</th>
        			<th>Type</th>
                    <th>Acciones</th>
        		</tr>
        		{% set items = { 'Activo': '', 'Pendiente Facturacion': 'active', 'Completo': 'success', 'Cancelado' : 'danger', 'Preparado': 'warning', "" : 'warning' } %}

        		{% for flete in fletes %}

                {% if flete.tipoviaje.trafico == 'Sencillo' %}
                    {% set rowspan = 'rowspan=1' %}
                {% else %}
                    {% set rowspan = 'rowspan=2' %}
                {% endif %}

        		<tr  class="{{ items[( flete.actividad ~ "")] }}" >
        			<td {{rowspan}} >{{flete.id}}</td>
        			<td {{rowspan}}>{{flete.relacion.economico}}</td>
        			<td {{rowspan}}>{{flete.relacion.operador|title}}</td>
                    <td {{rowspan}}></td>
        			<td {{rowspan}}>{{flete.relacion.socio|title}}</td>

                    {#} Si hay workOrders  #}
                    {% if flete.workorders|length > 0 %}
                    {# Itera sobre las workorders #}
                    {% for workorder in  flete.workorders %}

                        {% set rowspan2 = 'rowspan=1' %}


                        {% if loop.first == false %}
                            <tr class="{{ items[( flete.actividad ~ "")] }}">
                        {% endif %}

                            <td {{rowspan2}}> {{ workorder.booking|upper}}  </td>
                            <td {{rowspan2}}> {{workorder.workorder|upper}} </td>

                        {% if loop.first %}

                            <td {{rowspan}}>
                                <span class="label label-info">
                                    {{flete.tipoviaje.viaje}}
                                    {{flete.tipoviaje.trafico}}
                                </span>
                            </td>
                            <td {{rowspan}}> {{flete.sucursal}} </td>

                        {% endif %}

                            <td {{rowspan2}}> {{workorder.contenedor|upper}} </td>
                            <td {{rowspan2}}> {{workorder.contenedor.tipo}} </td>
                            <td {{rowspan2}}></td>

                        {% if loop.first == false %}
                            </tr>
                        {% endif %}

                        {% if loop.first %}
                            <td {{rowspan}}>
                                <a href="{{path('flete_detalle',{'flete': flete.id})}}">
                                    <button class="btn btn-success btn-sm">Detalles</button>
                                </a>
                            </td>
                            {#<td>{{flete.licencia}}</td>#}
                            </tr>
                        {% endif %}

                        {#}
                            {% if flete.tipoviaje.trafico == 'Full' %}
                        #}
                    {% endfor %}
                    {#} Si no  hay workOrders  #}
                    {% else %}
                        <td rowspan="1" >  </td>
                        <td rowspan="1" >  </td>
                        <td {{rowspan}}>
                            <span class="label label-info">
                                {{flete.tipoviaje.viaje}}
                                {{flete.tipoviaje.trafico}}
                            </span>
                        </td>
                        <td {{rowspan}} > {{flete.sucursal}} </td>
                        <td  rowspan="1"></td>
                        <td  rowspan="1"></td>
                        <td rowspan="1" ></td>
                        <td {{rowspan}}>
                         <a href="{{path('flete_detalle',{'flete': flete.id})}}" >
                            <button class="btn btn-success btn-sm">Detalles</button>
                        </a> 
                        </td>
                    </tr>
                        
                    {% endif %}
                    {# Si el viaje es full #}
                    {% if flete.tipoviaje.trafico == 'Full'%}
                        {% if flete.workorders|length < 2 %}
                            <tr class="{{ items[( flete.actividad ~ "")] }}" >
                                <td rowspan="1" >  </td>
                                <td rowspan="1" >  </td>
                                <td rowspan="1" >  </td>
                                <td rowspan="1" >  </td>
                                <td rowspan="1" >  </td>
                            </tr>
                        {# Termina si el viaje es full #}
                        {% endif %}
                        {# Termina el despliegue de workorders #}
                    {% endif %}
                    
                    {# Termina de colocarse los fletes #}
        		{% endfor %}

        	</table>
        	{#</div>#}
        	{% else %}
        	<h3>No existen Fletes</h3>
        	{% endif %}

        </div>
        <div class="navbar-responsive-collapse">
            {{ knp_pagination_render(fletes) }}
        </div>

     </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/daterangepicker.js')}}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
		   $('#reservation').daterangepicker();
		});
	</script>
{% endblock %}