{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block header %}

<div class="page-header">
  <h1>Fletes <a href="{{path('create_flete')}}"><button class="btn">Crear Flete</button></a></h1>
  
</div>
 {% endblock %}
 {% block stylesheets %}

     {{ parent() }}
     <link href="{{ asset('css/daterangepicker-bs3.css') }}" type="text/css" rel="stylesheet" />

 {% endblock %}

{% block content %}
<!--
	<nav class="navbar navbar-default" role="navigation">

       <div class="navbar-form navbar-left" action="">
            <a href="flete/crear"><button type="submit" class="btn btn-default">Crear Flete</button></a>
        </div>
	</nav>
-->
    <div class="panel">
        <div class="panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
                  <h4 class="panel-title">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                       Filtros
                    </a>
                  </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse">
                 <div class="panel-body">

            <form class="form-inline" action="{{path('_operadores')}}">
                    <div id="reportrange" class="navbar navbar-right">
                        <span></span> <b class="caret"></b>
                    </div>
                     <div class="form-group">
                        <label for="searchOperador">Operador</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchOperador" style="width: 200px;" name="operador">
                    </div>
                      <div class="form-group">                  
                        <label for="searchEconomico">Economico</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchEconomico" style="width: 200px;" name="economico">
                    </div>
                     <div class="form-group">                    
                        <label for="searchSocio">Socio</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="searchSocio" style="width: 200px;" name="operador">
                    </div>
                    <br>
                    <br>
                     <div class="form-group">                    
                        <label>Viaje</label>
                        <input  type="checkbox" ckecked> Sencillo
                        <input type="checkbox" ckecked> Full 
                        <input type="checkbox" ckecked> Importacion 
                        <input type="checkbox" ckecked> Exportacion 
                        <input type="checkbox" ckecked> Reutilizado
                    </div>
                    <br>
                    <br>
                    <div class="form-group"> 
                        <label>WorkOrder</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="operador">
                     </div>                   
                     <div class="form-group">                    
                        <label>Booking</label>
                        <input  type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="operador">
                    </div>
                    <br><br>
                <button type="submit" class="btn btn-info">Buscar</button>
            </form>
           </div>
        </div>
    </div>
     
        <div>
        	{% if fletes %}
        	{#<div class="table-responsive">#}
        	<table class="table table-bordered">
        		<tr>
        			<th>#</th>
        			<th>Eco</th>
                    <th>Operador</th>
        			<th>Licencia</th>
        			<th>Socio</th>
        			<th scope="rowgroup">Booking</th>
        			<th>WorkOrder</th>
        			<th>Trafico</th>
        			<th>Cliente</th>
        			<th>Contenedor(s)</th>
        			<th>Size</th>
        			<th>Type</th>
                    <th>Acciones</th>
        		</tr>
        		{% set items = { 'Activo': '', 'Pendiente Facturacion': 'active', 'Completo': 'success', 'Cancelado' : 'danger', 'Preparado': 'warning', "" : 'warning' } %}

        		{% for flete in fletes %}

        		<tr class="{{ items[( flete.actividad ~ "")] }}">
        			<td rowspan="2" >{{flete.id}}</td>
        			<td rowspan="2">{{flete.relacion.economico}}</td>
        			<td rowspan="2">{{flete.relacion.operador}}</td>
                    <td rowspan="2"></td>
        			<td rowspan="2">{{flete.relacion.socio}}</td>

                    {% if flete.tipoviaje.trafico == 'Sencillo'%}
                        {% set x = "rowspan=2" %}
                        {% else %} 
                        {% set x = "rowspan=1" %}
                    {% endif %}
                    <td {{x}}> book</td>
                    <td {{x}}></td>
                    <td rowspan="2">
                        <span class="label label-info">{{flete.tipoviaje.viaje}}</span>
                    </td>
                    <td rowspan="2"></td>
                    <td {{x}}></td>
                    <td {{x}}></td>
                    <td {{x}}></td>
                    <td rowspan="2"><a href="{{path('flete_detalle',{'flete': flete.id})}}"><button class="btn btn-success">Detalles</button></a></td>
        			{#<td>{{flete.licencia}}</td>#}
        		</tr>

                {% if flete.tipoviaje.trafico == 'Full'%}
                    <tr class="{{ items[( flete.actividad ~ "")] }}">
                        <td>book</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {% else %}
                    <tr></tr>
                {% endif %}

        		{% endfor %}
        	</table>
        	{#</div>#}
        	{% else %}
        	<h3>No existen Fletes</h3>
        	{% endif %}

        </div>
        <div class="navbar-responsive-collapse">
            {{ knp_pagination_render(fletes) }}
        </div>

     </div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script type="text/javascript" src="{{ asset('js/moment.min.js')}}"></script>
	<script type="text/javascript" src="{{ asset('js/daterangepicker.js')}}"></script>

	<script type="text/javascript">
		$(document).ready(function() {
		   $('#reservation').daterangepicker();
		});
	</script>

	<script type="text/javascript">
		$(document).ready(function() {
		   $('#reportrange').daterangepicker(
		      {
		         startDate: moment().subtract('days', 29),
		         endDate: moment(),
		         minDate: '01/01/2013',
		         maxDate: '12/31/2014',
		         dateLimit: { days: 60 },
		         showDropdowns: true,
		         showWeekNumbers: true,
		         timePicker: false,
		         timePickerIncrement: 1,
		         timePicker12Hour: true,
		         ranges: {
		            'Hoy': [moment(), moment()],
		            'Ayer': [moment().subtract('days', 1), moment().subtract('days', 1)],
		            'Ultimos 7 dias': [moment().subtract('days', 6), moment()],
		            'Ultimos 30 dias': [moment().subtract('days', 29), moment()],
		            'Este mes': [moment().startOf('month'), moment().endOf('month')],
		            'Mes pasado': [moment().subtract('month', 1).startOf('month'), moment().subtract('month', 1).endOf('month')],
		         },
		         opens: 'left',
		         buttonClasses: ['btn btn-default'],
		         applyClass: 'btn-small btn-primary',
		         cancelClass: 'btn-small',
		         format: 'MM/DD/YYYY',
		         separator: ' to ',
		         locale: {
		             applyLabel: 'Filtro',
		             fromLabel: 'Desde',
		             toLabel: 'Hasta',
		             customRangeLabel: 'Especificar Rango',
		             daysOfWeek: ['Do', 'Lu', 'Mar', 'Mie', 'Jue', 'Vie','Sa'],
		             monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Marzo'],
		             firstDay: 1
		         }
		      },
		      function(start, end) {
		       console.log("Callback has been called!");
		       $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
		      }
		   );
		   //Set the initial state of the picker label
		   $('#reportrange span').html(moment().subtract('days', 29).format('MMMM D, YYYY') + ' - ' + moment().format('MMMM D, YYYY'));
		});
	</script>
{% endblock %}