{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
Economicos
{% endblock %}

{% block cabecera %}
Economicos
{% endblock %}

{% block content %}
	<div class="col-lg-4">
		<ul class="nav nav-tabs nav-pills nav-stacked" style="max-width: 300px;" id="myTab">
			<li class="active"> <a href="#economicos" data-toggle="tab">Economicos</a> </li>
			{% for socio in socios %}
				<li id="{{ path('_socio', {'idSocio': socio.id}) }}"><a class="socio" href="#filtro_socio" data-toggle="tab"> {{socio}} </a></li>
			{% else %}
				<li><a href="">No existen socios registrados</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="tab-content">
		<div class="tab-pane active col-lg-8" id="economicos">

			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-responsive-collapse">
					{{ knp_pagination_render(economicos) }}
				</div>

				<form class="navbar-form pull-right" action="{{path('_economicos')}}">
					<input type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="busquedaLibre">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</nav>

			{% for economico in economicos %}
			<ul class="list-inline">
				<li class="col-lg-3">
					<div class="col-lg-8">
						<img  src="{{ asset('images/camion.jpg') }}">
						{% if economico.actividad == 'Libre' %}
						<h5><span class="label label-info">{{economico.numero}}</span></h5>
						{% else %}
						<h5><span class="label label-warning">{{economico.numero}}</span></h5>
						{% endif %}
					</div>
				</li>
			</ul>

			{% else %}
				<h1>No existen Economicos</h1>
			{% endfor %}
		</div>

		<div class="tab-pane col-lg-8" id="filtro_socio">
			<h1>Filtro</h1>
		</div>
	</div>

		
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		$(function(){
			$('#myTab').click(function(event) {
				$('#myTab a').tab('show');
			});

			$('a.socio').click(function(event){
			        event.preventDefault(); //cancela el comportamiento por defecto
			        $('#filtro_socio').empty();
			        $('#filtro_socio').append('<img src="{{asset("images/loading.gif")}}">');
			        $('#filtro_socio').load($(this).parent().attr('id')); //carga por ajax a la capa "notice_viewer"
			});

			$('body').on('click','ul.nav.nav-justified li a', function(a) { 
				a.preventDefault();        
			    $(this).parent().addClass('active').siblings().removeClass('active');
			    //$(this).tab("show");  
			});

			$('body').on('click', '#tabla', function(event) {
				$('#tabla a').tab('show');
			});

		});
	</script>

{% endblock %}
