{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
Tarifas
{% endblock %}

{% block cabecera %}
Tarifas
{% endblock %}

{% block content %}
    <div ng-app="tarifaApp">
	<div class="col-lg-4">
		<ul class="nav nav-tabs nav-pills nav-stacked" style="max-width: 300px;" id="myTab">
			{% for agencia in agencias %}
				<li id="{{ path('_tarifa', {'idAgencia': agencia.id}) }}"><a class="agencias" href="#/agencia/{{agencia.id}}" data-toggle="tab"> {{agencia}} </a></li>
			{% else %}
				<li><a href="">No existen agencias registrados</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="tab-content">
		<div class="tab-pane col-lg-8" id="filtro_agencia"  ng-view >
            
		</div>
	</div>
    </div>

{% endblock %}


{% block javascripts %}
	{{parent()}}

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>

    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.min.js"></script>

    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-resource.min.js"></script>

    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-animate.min.js"></script>
    <script>
        var rutaHMTL = Routing.generate('_angularPartials' );
    </script>


    <script src="{{ asset('js/Tarifa/app_tarifa.js') }}"></script>

{% endblock %}
