{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
Tarifas
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>

    </style>
{% endblock %}

{% block cabecera %}
Tarifas
{% endblock %}

{% block content %}
    <div ng-app="tarifaApp">
	<div class="col-lg-2">
		<ul class="nav nav-tabs nav-pills nav-stacked" style="max-width: 300px;" id="myTab">
			{% for agencia in agencias %}
				<li  id="{{ path('_tarifa', {'idAgencia': agencia.id}) }}">
                    <a class="agencias" href="#/agencia/{{agencia.id}}"> {{agencia}} </a>
                </li>
			{% else %}
				<li><a href="">No existen agencias registrados</a></li>
			{% endfor %}
		</ul>
	</div>
    <div class="col-lg-10" id="filtro_agencia"  ng-view>
    </div>

    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript" src="{{ asset('js/jquery-2.0.3.min.js')}}"></script>
    <script type="text/javascript" src="{{ asset('js/bootstrap.js')}}"></script>
    <script type="text/javascript">

        $('ul.nav.nav-pills.nav-stacked li a').click(function(a) {
            $(this).parent().addClass('active').siblings().removeClass('active');
        });

    </script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-route.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-resource.min.js"></script>
    <script type="text/javascript" src="http://code.angularjs.org/1.2.0-rc.3/angular-animate.min.js"></script>
    <script src="{{ asset('js/Tarifa/app_tarifa.js') }}"></script>

{% endblock %}
