{% extends 'TimsaControlFletesBundle::layout.html.twig' %}

{% block title %}
Tarifas
{% endblock %}

{% block cabecera %}
Tarifas
{% endblock %}

{% block content %}
	<div class="col-lg-4">
		<ul class="nav nav-tabs nav-pills nav-stacked" style="max-width: 300px;" id="myTab">
			{% for agencia in agencias %}
				<li id="{{ path('_tarifa', {'idAgencia': agencia.id}) }}"><a class="agencias" href="#filtro_agencia" data-toggle="tab"> {{agencia}} </a></li>
			{% else %}
				<li><a href="">No existen agencias registrados</a></li>
			{% endfor %}
		</ul>
	</div>

	<div class="tab-content">
		<div class="tab-pane active col-lg-8" id="economicos">
{#
			<nav class="navbar navbar-default" role="navigation">
				<div class="navbar-responsive-collapse">
					{{ knp_pagination_render(economicos) }}
				</div>

				<form class="navbar-form pull-right" action="{{path('_economicos')}}">
					<input type="text" class="form-control" placeholder="Buscar.." id="search" style="width: 200px;" name="busquedaLibre">
					<button type="submit" class="btn btn-primary">Buscar</button>
				</form>
			</nav>

			{% for economico in economicos %}
			<ul class="list-inline">
				<li class="col-lg-3">
					<div class="col-lg-8">
						<img  src="{{ asset('images/camion.jpg') }}">
						{% if economico.actividad == 'Libre' %}
						<h5><span class="label label-info">{{economico.numero}}</span></h5>
						{% else %}
						<h5><span class="label label-warning">{{economico.numero}}</span></h5>
						{% endif %}
					</div>
				</li>
			</ul>

			{% else %}
				<h1>No existen Economicos</h1>
			{% endfor %}
#}		</div>
		<div class="tab-pane col-lg-8" id="filtro_agencia">
			<h1>Filtro</h1>
		</div>
	</div>

		
{% endblock %}


{% block javascripts %}
	{{ parent() }}
	<script>
		$(function(){

			

			$('#myTab').click(function(event) {
				$('#myTab a').tab('show');
			});

			$('a.agencias').click(function(event){
			        event.preventDefault(); //cancela el comportamiento por defecto
			        $('#filtro_agencia').empty();
			        $('#filtro_agencia').append('<img src="{{asset("images/loading.gif")}}">');
			        $('#filtro_agencia').load($(this).parent().attr('id')); //carga por ajax a la capa "notice_viewer"
			});
/*
			$('body').on('click','ul.nav.nav-justified li a', function(a) { 
				a.preventDefault();        
			    $(this).parent().addClass('active').siblings().removeClass('active');
			    //$(this).tab("show");  
			});
*/
		});
	</script>

{% endblock %}
